<ion-header>
  <ion-toolbar>
    <ion-title>Exercise Logs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon name="add" size="large" *ngIf="selectedHorse" (click)="addExerciseLog()"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ng-container *ngIf="(horses$ | async) as horses">
      <ion-item class="horse-select">
        <ion-label>Horse</ion-label>
        <ion-select placeholder="Select a horse" [selectedText]="selectedHorse?.name" [(ngModel)]="selectedHorse" (ionChange)="onHorseSelected()">
          <ion-select-option *ngFor="let horse of horses" [value]="horse">{{ horse.name }}</ion-select-option>
        </ion-select>
      </ion-item>        
    </ng-container>
    <ng-container *ngIf="(dateExerciseLogs$ | async) as dateLogs">
      <ng-container *ngIf="dateLogs.length > 0; else noData">
          <ng-container *ngFor="let dateLog of dateLogs">            
            <ion-item-divider>
              <ion-label class="label-date">&nbsp;{{dateLog.dateString}}</ion-label>
            </ion-item-divider>
            <ion-item-sliding *ngFor="let log of dateLog.logs">
              <ion-item button detail="false" (click)="viewExerciseLog(log)">
                  {{ log.exercise.name }}
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="deleteExerciseLog(log)">
                        Delete
                    </ion-item-option>
                  </ion-item-options>
            </ion-item-sliding>        
          </ng-container>
      </ng-container>          
    </ng-container>
  </ion-list>

  <ng-template #noData>
      <p class="no-records-text">No records found.</p>
    </ng-template> 
</ion-content>
