.horse-select {
    margin-bottom: 20px;
}

.label-date {
    margin: 0px;
    font-weight: bold;
}

ion-item-divider {
    font-size: 12px;
    height: 20px;
    min-height: 20px;
    background-color: #b3b3b3;
    background-clip: content-box;
}

.no-records-text {
    text-align: center;
    margin-top: 30px;
}