<ion-header>
  <ion-toolbar>
    <ion-title>Exercise Log Detail</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-buttons slot="end">
        <ion-icon name="create" size="large" *ngIf="pageType === 'view'" (click)="onEditClick()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #exerciseLogForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        
        <ion-item>
          <ion-grid class="format-grid">
            <ion-row>
              <ion-col align-self-center size="4"><ion-label>Horse</ion-label></ion-col>
              <ion-col align-self-center size="8"><ion-input type="text" id="horse-name" class="form-control" name="horseName" [ngModel]="exerciseLog.horse?.name" (ngModelChange)="exerciseLog.horse.name=$event" #name="ngModel" required [disabled]="disabled"></ion-input></ion-col>        
            </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid class="format-grid">
            <ion-row>
              <ion-col align-self-center size="4"><ion-label>Exercise</ion-label></ion-col>
              <ion-col align-self-center size="8"><ion-input type="text" id="exercise-name" class="form-control" name="exerciseName" [ngModel]="exerciseLog.exercise?.name" (ngModelChange)="exerciseLog.exercise.name=$event" #name="ngModel" required [disabled]="disabled"></ion-input></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid class="format-grid">
            <ion-row>
              <ion-col align-self-center size="4"><ion-label>Time (mins)</ion-label></ion-col>
              <ion-col align-self-center size="8"><ion-input type="text" id="time" class="form-control" name="time" [(ngModel)]="exerciseLog.time" #name="ngModel" required [disabled]="disabled"></ion-input></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid class="format-grid">
            <ion-row>
              <ion-col align-self-center size="4"><ion-label>Date</ion-label></ion-col>
              <ion-col align-self-center size="8"><ion-datetime id="date" class="form-control" name="date" [(ngModel)]="formattedDate" #name="ngModel" displayFormat="MMM DD, YYYY HH:mm" required [disabled]="disabled"></ion-datetime></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col align-self-center size="4"><ion-label>Notes</ion-label></ion-col>
              <ion-col align-self-center size="8"><ion-textarea id="notes" class="form-control" name="notes" [(ngModel)]="exerciseLog.notes" #name="ngModel" required [disabled]="disabled" autosize rows="1"></ion-textarea></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

    </div>
    <div class="form-buttons">
      <ion-button color="dark" type="button" (click)="onBackClick()">Back</ion-button>
      <ion-button color="primary" type="submit" [disabled]="!exerciseLogForm.form.valid" *ngIf="!disabled">Save</ion-button>
      <ion-button color="medium" type="reset" *ngIf="!disabled">Reset</ion-button>
    </div>
  </form>
</ion-content>
